<div class="card mb-5 mb-xl-8">

<div class="card mb-5 mb-xl-10">
  <div
    class="card-header border-0 cursor-pointer"
    role="button"
    data-bs-toggle="collapse"
    data-bs-target="#kt_account_profile_details"
    aria-expanded="true"
    aria-controls="kt_account_profile_details"
  >
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0" [ngStyle]="{'color':'lightBlue'}">Edit information</h3>
      </div>
      
      <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-roles-modal-action="close">
        <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
        <span class="svg-icon svg-icon-1">
          <svg (click)="close()" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
          </svg>
        </span>
        <!--end::Svg Icon-->
      </div>

    </div>


  <div id="kt_account_profile_details" class="collapse show">
    <form novalidate="" class="form" [formGroup]="EditEForm">
      <div class="card-body border-top p-9">

        <!-- Editing with reactive form need to be researched bednb, in tdf it works fine [(ngModel)]="Employee.name" -->
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">Full Name</label>
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              placeholder="Full name"
              name="name"
              formControlName="name"
              [(ngModel)]="Employee.name"
            />
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6">User Name</label>
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              placeholder="User name"
              name="username"
              formControlName="username"
              [(ngModel)]="Employee.username"
            />
          </div>
        </div>
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span class="required">Contact Phone</span></label
          >
          <div class="col-lg-8 fv-row">
            <input
              type="tel"
              class="form-control form-control-lg form-control-solid"
              placeholder="Phone number"
              name="phone"
              formControlName="phone"
              [(ngModel)]="Employee.phone"
            />
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">
          <span class="required">Email</span></label>
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              placeholder="Email"
              name="email"
              formControlName="email"
              [(ngModel)]="Employee.email"/>
          </div>
          </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span class="required">Company Website</span></label
          >
          <div class="col-lg-8 fv-row">
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              placeholder="Company website"
              name="website"
              formControlName="website"
              [(ngModel)]="Employee.website"
              />
          </div>
        </div>


        <!-- <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6">
          <span class="required">Email</span></label>
          <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" formControlName="email">

          <mat-error *ngIf="EditEForm.hasError('email') && !EditEForm.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="EditEForm.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
          </mat-form-field>
          </div> -->

      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button
          type="button"
          class="btn btn-primary"
          (click)="EditEmployee(EditEForm.value)"
          >
        Submit
        </button>
      </div>
      </div>
    </form>
  </div>
</div>
</div>

